
<%
if (typeof error_message !== 'undefined'){
    %>
    <p style ="color:red;"><%=  error_message %></p>
    <%
}
%>
<form action=""  method="Post">
    <input type="hidden" name="user_id" value="<%= user.id %>">
    <input type="hidden" name="email" value="<%= user.Email %>">
    <input type="password" name="Password" required placeholder="new password">
    <br><br>
    <input type="password" name="confirm_Password" required placeholder="confirm password">
    <br><br>
    <input type="submit" value="reset password">
    <br><br>
</form>